<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{titulo}}</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="content">
        <ul>
        {% for item in lista%}
            <li>{{item}}</li>
        {% endfor %}
        </ul>
        <img src=" {% static 'imagens/imagem.png' %}">
    </div>
</body>
</html>
